{% extends "app/temp_all.html" %}

{% block anything %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    aser Co.<br />
    Almaty, Manasa 77/7<br />
    <abbr title="Phone">Phone:</abbr>
    <a href="tel:+7(777)777-77-77">+7(777)777-77-77</a>
</address>
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.051847780102!2d76.90741575128644!3d43.22937258764823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836929cb5843c5%3A0x31e0d788b9862d78!2sManas%20St%2077%2C%20Almaty%20050000!5e0!3m2!1sen!2skz!4v1618225818717!5m2!1sen!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
