{% extends "app/temp_all.html" %}

{% block anything %}

<h1 style="text-align: center">FAQ</h1>
<br>
<h4>What is our site about?</h4>
<p>Our site will help you to find information about matches, tournaments, player's devices and buy skins</p>
<br>
<h4>How can you add yourself as a player?</h4>
<p>Enter contact page and message me via email, we need some verification and add players manually</p>
<br>
<h4>Can you buy advertisement on our site?</h4>
<p>Yes, you can, enter contact page and message me via marketing email</p>
{% endblock %}