<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - CSCon - Kazakhstan eSports portal</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" type="image/png" href="https://i.ibb.co/tDwbZ9T/icon.png">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.bundle.min.js' %}"></script>
</head>

<body style="padding-top: 0px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-md">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="https://sun9-9.userapi.com/impg/AQnkEWm935l0Qh-Nsnp7m675XiA_FZuHGC36qw/M3qrVwOjh44.jpg?size=800x800&quality=96&sign=74da0ae9f6ccb7c14c1e36356846a528&type=album" alt="" width="32" height="32" style="border-radius: 20%">
                CSCon
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'matches:matches' %}">Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'players:players' %}">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'teams:teams' %}">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'market:market' %}">Market</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'faq' %}">FAQ</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex" method="GET" action="{% url 'home' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <ul class="navbar-nav me-right d-flex justify-content-center">
                    <li class="nav-item">
                {% include 'app/loginpartial.html' %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>

    <div class="container">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <div class="row">
            <div class="col-6  d-flex justify-content-center">
                <p>&copy; {{ year }} - CSCon</p>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="{% url 'privacy' %}" style="text-decoration: none ">Privacy policy</a>
            </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
